.idea/
.vagrant/
.vscode/
.phpunit/
vendor/
profiling/
out/
.idea_modules/
cmake-build-debug/

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.DS_Store
.env
*.iml
*.iws

concept.php
http-client.private.env.json
/public/vendor

composer.lock